.portfolio_section {
  font-family: 'Poppins', sans-serif;
}

.portfolio_section .col-md-4 {
  padding: 0;
}

.portfolio_section .img-box {
  position: relative;
  padding: 10px 10px 10px 10px;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.portfolio_section .img-box img {
  width: 100%;
}

.portfolio_section .img-box a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  opacity: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: #ffffff;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.portfolio_section .img-box a img {
  width: 20px;
  opacity: 0;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.portfolio_section .img-box::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  background-color: rgba(37, 28, 229, 0.8);
  border-radius: 25px;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

.portfolio_section .img-box:hover::before {
  width: 90%;
  height: 90%;
}

.portfolio_section .img-box:hover a {
  opacity: 1;
}

.portfolio_section .img-box:hover a img {
  opacity: 1;
}
.portfolio_section .read-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.portfolio_section .read-btn a {
  display: inline-block;
  padding: 8px 25px;
  background-color: #000000;
  border: 1px solid #000000;
  color: #ffffff;
  border-radius: 25px;
}

.portfolio_section .read-btn a:hover {
  background-color: transparent;
  color: #000000;
}
@media (max-width: 992px) {
  .portfolio_section {
    padding-top: 75px;
  }
}
